<demo-header></demo-header>

<demo-alerts *ngIf="resultAlert !== undefined" [alert]="resultAlert"></demo-alerts>

<div *ngIf="accounts.length > 0" class="container bottom-space">
    <p>{{ 'ACCOUNTS.MESSAGE_ACCOUNTS' | translate }}</p>
</div>

<div class="container">
    <div *ngIf="accounts.length > 0" class="row">
        <div *ngFor="let account of accounts" class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ account?.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ account?.balance | currency }}</h6>
                    <button disabled routerLinkActive="router-link-active" class="btn btn-secondary">Detail</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ 'ACCOUNTS.CARD_TITLE_ACCOUNT' | translate }}</h5>
                    <p class="card-text">{{ 'ACCOUNTS.CARD_TEXT_ACCOUNT' | translate }}</p>
                    <a [routerLink]="['./request']" routerLinkActive="router-link-active" class="btn btn-primary">
                        {{ 'ACCOUNTS.BUTTON_REQUEST' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
